*{
	font-family: 'poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	text-transform: capitalize;
}
html{
	font-size: 88.5%;
	overflow: hidden;
}
section{
	min-height: 100vh;
	padding: rem 9%;
	padding-top:5rem;
	background-color: black;
}

header{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem;
	background-color: black;
}

header .Logo{
	font-size: 2.5rem;
	color: red;
}

header .menu a{
	font-size: 1.5rem;
	margin-left: 1rem;
	padding: 1rem 1rem;
	border-radius: .5rem;
	color: red;
}

header .menu a.active,
header .menu a:hover{
	background-color: yellow;
	color: black;
}
h4{
	margin-top: 0rem;
	text-align: center;
	font-size: 2.5rem;
	color: red;
	background-color: lightblue;
	border-radius: .5rem;
}
.Home{
	background:url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.Home .content{
	text-align: center;
	padding: 3rem;
}
.Home .content h1{
	font-size: 2rem;
	color: black;
}
.Home .content h3{
	font-size: 1.5rem;
	color: black;
}

.Home .content h1:hover,
.Home .content h3:hover{
	background-color: black;
	color: white;
	border-radius: .5rem;
}
.box{
	flex:1 1 30rem;
    border-radius: .5rem;
    margin:2rem;
    padding:2rem;
    text-align: center;
}
/*Latest*/
.Latest .content{
	text-align: center;
	padding: 1rem;
}
.Latest .content img{
	height: 10rem;
	width: 10rem;
	padding: 1rem;
}
.Latest .content h3{
	font-size: 1.3rem;
	padding: .5rem;
	color: lightblue;
}
.Latest .content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.Latest .content .box{
	flex: 1 1 20rem;
	border-radius: .5rem;
	margin: 1rem;
	padding: .5rem;
	text-align: center;
}
/*Sad*/
.Sad .content{
	text-align: center;
	padding: 1rem;
}
.Sad .content img{
	height: 10rem;
	width: 10rem;
	padding: 1rem;
}
.Sad .content h3{
	font-size: 1.3rem;
	padding: .1rem;
	color: lightblue;
}
.Sad .content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.Sad .content .box{
	flex: 1 1 20rem;
	border-radius: .5rem;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
}
/*Romantic*/
.Romantic .content{
	text-align: center;
	padding: 1rem;
}
.Romantic .content img{
	height: 10rem;
	width: 10rem;
	padding: 1rem;
}
.Romantic .content h3{
	font-size: 1.3rem;
	padding: .1rem;
	color: lightblue;
}
.Romantic .content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.Romantic .content .box{
	flex: 1 1 20rem;
	border-radius: .5rem;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
}
/*Remix*/
.Remix .content{
	text-align: center;
	padding: 1rem;
}
.Remix .content img{
	height: 10rem;
	width: 10rem;
	padding: 1rem;
}
.Remix .content h3{
	font-size: 1.3rem;
	padding: .1rem;
	color: lightblue;
}
.Remix .content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.Remix .content .box{
	flex: 1 1 20rem;
	border-radius: .5rem;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
}
.Aboutme{
	background-color: black;
}
.Aboutme h1{
	margin-top: 1rem;
	text-align: center;
	font-size: 3rem;
	color: red;
	background-color: lightblue;
	border-radius: .5rem;
}
.Aboutme h3{
	margin-top: 1rem;
	text-align: left;
	font-size: 2rem;
	color: red;
	border-radius: .5rem;
	margin-bottom: 5rem;
}
.Aboutme p{
	margin-top: 1rem;
	text-align: left;
	font-size: 1.5rem;
	color: lightblue;
	border-radius: .5rem;
}
.Aboutme h2{
	margin-top: 1rem;
	text-align: right;
	font-size: 1.9remrem;
	color: red;
	border-radius: .5rem;
	margin-top: 3rem;
}